(
    name: "Ayu Mirage",
    foreground: "#cccac2",
    background: "#1f2430",
    cursor: "#ffcc66",
    bright_foreground: "#cccac2",
    dim_foreground: "#607080",
    normal: (
        black: "#191e2a",
        red: "#f28779",
        green: "#bae67e",
        yellow: "#ffd580",
        blue: "#5ccfe6",
        magenta: "#dfbfff",
        cyan: "#95e6cb",
        white: "#cccac2",
    ),
    bright: (
        black: "#686868",
        red: "#f28779",
        green: "#bae67e",
        yellow: "#ffd580",
        blue: "#5ccfe6",
        magenta: "#dfbfff",
        cyan: "#95e6cb",
        white: "#ffffff",
    ),
    dim: (
        black: "#191e2a",
        red: "#f28779",
        green: "#bae67e",
        yellow: "#ffd580",
        blue: "#5ccfe6",
        magenta: "#dfbfff",
        cyan: "#95e6cb",
        white: "#cccac2",
    ),
)
