(
    name: "Ayu Light",
    foreground: "#575f66",
    background: "#fafafa",
    cursor: "#ff9940",
    bright_foreground: "#575f66",
    dim_foreground: "#8a9199",
    normal: (
        black: "#0a0e14",
        red: "#ea6c73",
        green: "#7fd962",
        yellow: "#f9af4f",
        blue: "#53bdfa",
        magenta: "#cda1fa",
        cyan: "#90e1c6",
        white: "#8a9199",
    ),
    bright: (
        black: "#686868",
        red: "#f07178",
        green: "#aad94c",
        yellow: "#ffb454",
        blue: "#59c2ff",
        magenta: "#d2a6ff",
        cyan: "#95e6cb",
        white: "#d9d7ce",
    ),
    dim: (
        black: "#0a0e14",
        red: "#ea6c73",
        green: "#7fd962",
        yellow: "#f9af4f",
        blue: "#53bdfa",
        magenta: "#cda1fa",
        cyan: "#90e1c6",
        white: "#8a9199",
    ),
)
