(
    name: "boo-shnickle dark",
    foreground: "#ffffcc",
    background: "#191914",
    cursor: "#ffffcc",
    bright_foreground: "#ffffe6",
    dim_foreground: "#7f7f66",
    normal: (
        black: "#191914",
        red: "#ffbfa5",
        green: "#e7ff99",
        yellow: "#fff299",
        blue: "#bfbfd9",
        magenta: "#f2bfd9",
        cyan: "#bfffc5",
        white: "#ffffcc",
    ),
    bright: (
        black: "#8c8c89",
        red: "#ffdfd3",
        green: "#f4ffcc",
        yellow: "#fff9cc",
        blue: "#dfdfec",
        magenta: "#f9dfec",
        cyan: "#dfffe2",
        white: "#ffffe6",
    ),
    dim: (
        black: "#0c0c09",
        red: "#7f5f53",
        green: "#747f4c",
        yellow: "#7f794c",
        blue: "#5f5f6c",
        magenta: "#795f6c",
        cyan: "#5f7f62",
        white: "#7f7f66",
    ),
)
