(
    name: "COSMIC Dark",
    foreground: "#C4C4C4",
    cursor: "#C4C4C4",
    bright_foreground: "#C4C4C4",
    dim_foreground: "#898989",
    normal: (
        black: "#1B1B1B",
        red: "#F16161",
        green: "#7CB987",
        yellow: "#DDC74C",
        blue: "#6296BE",
        magenta: "#BE6DEE",
        cyan: "#49BAC8",
        white: "#BEBEBE",
    ),
    bright: (
        black: "#808080",
        red: "#FF8985",
        green: "#97D5A0",
        yellow: "#FAE365",
        blue: "#7DB1DA",
        magenta: "#D68EFF",
        cyan: "#49BAC8",
        white: "#C4C4C4",
    ),
    dim: (
        black: "#000000",
        red: "#A04040",
        green: "#5D7D62",
        yellow: "#9E914A",
        blue: "#486073",
        magenta: "#7F46A1",
        cyan: "#3F7F87",
        white: "#898989",
    ),
)