(
    name: "COSMIC Light",
    foreground: "#292929",
    cursor: "#292929",
    bright_foreground: "#808080",
    dim_foreground: "#181818",
    normal: (
        black: "#292929",
        red: "#8C151F",
        green: "#145129",
        yellow: "#624000",
        blue: "#003F5F",
        magenta: "#6D169C",
        cyan: "#004F57",
        white: "#BEBEBE",
    ),
    bright: (
        black: "#808080",
        red: "#9D2329",
        green: "#235D34",
        yellow: "#714B00",
        blue: "#054B6F",
        magenta: "#7A28A9",
        cyan: "#005C5D",
        white: "#D7D7D7",
    ),
    dim: (
        black: "#181818",
        red: "#652020",
        green: "#183C22",
        yellow: "#4A320A",
        blue: "#072D44",
        magenta: "#50256D",
        cyan: "#0B3C41",
        white: "#ABABAB",
    ),
)