(
    name: "COSMIC Light",
    foreground: "#1B1B1B",
    cursor: "#1B1B1B",
    bright_foreground: "#000000",
    dim_foreground: "#262626",
    normal: (
        black: "#1B1B1B",
        red: "#A24F50",
        green: "#437E4F",
        yellow: "#7D6E1E",
        blue: "#516D94",
        magenta: "#9A30CA",
        cyan: "#227A85",
        white: "#D7D7D7",
    ),
    bright: (
        black: "#000000",
        red: "#890418",
        green: "#185529",
        yellow: "#534800",
        blue: "#2E496D",
        magenta: "#6B0091",
        cyan: "#00525A",
        white: "#E8E8E8",
    ),
    dim: (
        black: "#262626",
        red: "#B25D5E",
        green: "#528D5E",
        yellow: "#8C7D30",
        blue: "#5F7CA4",
        magenta: "#AA43DB",
        cyan: "#358994",
        white: "#C4C4C4",
    ),
)