(
    name: "Dracula",
    foreground: "#e6e6e6",
    background: "#1e1f29",
    cursor: "#bbbbbb",
    bright_foreground: "#ffffff",
    dim_foreground: "#e6e6e6",
    normal: (
        black: "#000000",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#f1fa8c",
        blue: "#bd93f9",
        magenta: "#ff79c6",
        cyan: "#8be9fd",
        white: "#bbbbbb",
    ),
    bright: (
        black: "#555555",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#f1fa8c",
        blue: "#bd93f9",
        magenta: "#ff79c6",
        cyan: "#8be9fd",
        white: "#ffffff",
    ),
    dim: (
        black: "#000000",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#f1fa8c",
        blue: "#bd93f9",
        magenta: "#ff79c6",
        cyan: "#8be9fd",
        white: "#bbbbbb",
    ),
)
