(
    name: "Everforest Dark",
    foreground: "#D3C6AA",
    background: "#272E33",
    cursor: "#D3C6AA",
    bright_foreground: "#E0D6C2",
    dim_foreground: "#928976",
    normal: (
        black: "#272E33",
        red: "#E67E80",
        green: "#A7C080",
        yellow: "#DBBC7F",
        blue: "#7FBBB3",
        magenta: "#D699B6",
        cyan: "#83C092",
        white: "#F3EEE6",
    ),
    bright: (
        black: "#2E383C",
        red: "#F1A3A3",
        green: "#C0D2A3",
        yellow: "#E7CFA3",
        blue: "#A4CEC8",
        magenta: "#E3B6CA",
        cyan: "#A7D2B0",
        white: "#F6F3ED",
    ),
    dim: (
        black: "#1E2326",
        red: "#9F595A",
        green: "#74855A",
        yellow: "#97825A",
        blue: "#5A827C",
        magenta: "#946B7E",
        cyan: "#5C8566",
        white: "#A7A49E",
    ),
)
