(
    name: "Gruvbox Dark",
    foreground: "#EBDBB2",
    background: "#282828",
    cursor: "#EBDBB2",
    bright_foreground: "#EBDBB2",
    dim_foreground: "#C0B28D",
    normal: (
        black: "#282828",
        red: "#CC241D",
        green: "#98971A",
        yellow: "#D79921",
        blue: "#458588",
        magenta: "#B16286",
        cyan: "#689D6A",
        white: "#A89984",
    ),
    bright: (
        black: "#928374",
        red: "#FB4934",
        green: "#B8BB26",
        yellow: "#FABD2F",
        blue: "#83A598",
        magenta: "#D3869B",
        cyan: "#8EC07C",
        white: "#EBDBB2",
    ),
    dim: (
        black: "#020202",
        red: "#7F2C24",
        green: "#6F6F29",
        yellow: "#A07732",
        blue: "#3A5A5C",
        magenta: "#724D5D",
        cyan: "#547055",
        white: "#747474",
    ),
)
