(
    name: "Linux Console",
    foreground: "#FFFFFF",
    background: "#000000",
    cursor: "#FFFFFF",
    bright_foreground: "#AAAAAA",
    dim_foreground: "#E2E2E2",
    normal: (
        black: "#000000",
        red: "#AA0000",
        green: "#00AA00",
        yellow: "#AA5500",
        blue: "#0000AA",
        magenta: "#AA00AA",
        cyan: "#00AAAA",
        white: "#AAAAAA",
    ),
    bright: (
        black: "#555555",
        red: "#FF5555",
        green: "#55FF55",
        yellow: "#FFFF55",
        blue: "#5555FF",
        magenta: "#FF55FF",
        cyan: "#55FFFF",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#000000",
        red: "#70221A",
        green: "#458340",
        yellow: "#814514",
        blue: "#0A1B44",
        magenta: "#7E1B7E",
        cyan: "#278B8B",
        white: "#8F8F8F",
    ),
)