(
    name: "Modus Vivendi",
    foreground: "#FFFFFF",
    background: "#000000",
    cursor: "#FFFFFF",
    bright_foreground: "#FFFFFF",
    dim_foreground: "#7030AF",
    normal: (
        black: "#000000",
        red: "#FF5F59",
        green: "#44BC44",
        yellow: "#D0BC00",
        blue: "#2FAFFF",
        magenta: "#FEACD0",
        cyan: "#00D3D0",
        white: "#FFFFFF",
    ),
    bright: (
        black: "#1E1E1E",
        red: "#FF5F5F",
        green: "#44DF44",
        yellow: "#EFEF00",
        blue: "#338FFF",
        magenta: "#FF66FF",
        cyan: "#00EFF0",
        white: "#989898",
    ),
    dim: (
        black: "#000000",
        red: "#FF5F59",
        green: "#44BC44",
        yellow: "#D0BC00",
        blue: "#2FAFFF",
        magenta: "#FEACD0",
        cyan: "#00D3D0",
        white: "#FFFFFF",
    ),
)

