(
    name: "OneHalfDark",
    foreground: "#DCDFE4",
    background: "#282C34",
    cursor: "#FBFBFC",
    bright_foreground: "#FBFBFC",
    dim_foreground: "#A8A8A8",
    normal: (
        black: "#282C34",
        red: "#E06C75",
        green: "#98C379",
        yellow: "#E5C07B",
        blue: "#61AFEF",
        magenta: "#C678DD",
        cyan: "#56B6C2",
        white: "#DCDFE4",
    ),
    bright: (
        black: "#5D677A",
        red: "#EE9397",
        green: "#B6DE9B",
        yellow: "#F4DFB8",
        blue: "#94C9F8",
        magenta: "#D89EE9",
        cyan: "#74D2DE",
        white: "#FBFBFC",
    ),
    dim: (
        black: "#000000",
        red: "#904A4F",
        green: "#6F885F",
        yellow: "#A68C5D",
        blue: "#3E79A8",
        magenta: "#855194",
        cyan: "#467B82",
        white: "#A8A8A8",
    ),
)