(
    name: "Pop Dark",
    foreground: "#F2F2F2",
    background: "#333333",
    cursor: "#EEEEEC",
    bright_foreground: "#EEEEEC",
    dim_foreground: "#E4E4E4",
    normal: (
        black: "#333333",
        red: "#CC0000",
        green: "#4E9A06",
        yellow: "#C4A000",
        blue: "#3465A4",
        magenta: "#75507B",
        cyan: "#06989A",
        white: "#D3D7CF",
    ),
    bright: (
        black: "#88807C",
        red: "#F15D22",
        green: "#73C48F",
        yellow: "#FFCE51",
        blue: "#48B9C7",
        magenta: "#AD7FA8",
        cyan: "#34E2E2",
        white: "#EEEEEC",
    ),
    dim: (
        black: "#272727",
        red: "#A1362B",
        green: "#558737",
        yellow: "#B1942D",
        blue: "#3B5981",
        magenta: "#5D4D5F",
        cyan: "#288889",
        white: "#C7C7C7",
    ),
)