(
    name: "Rose Pine Moon",
    foreground: "#e0def4",
    background: "#232136",
    cursor: "#59546d",
    dim_foreground: "#908caa",
    normal: (
        black: "#393552",
        red: "#eb6f92",
        green: "#3e8fb0",
        yellow: "#f6c177",
        blue: "#9ccfd8",
        magenta: "#c4a7e7",
        cyan: "#ea9a97",
        white: "#e0def4",
    ),
    bright: (
        black: "#6e6a86",
        red: "#eb6f92",
        green: "#3e8fb0",
        yellow: "#f6c177",
        blue: "#9ccfd8",
        magenta: "#c4a7e7",
        cyan: "#ea9a97",
        white: "#e0def4",
    ),
    dim: (
        black: "#2a273f",
        red: "#b4637a",
        green: "#286983",
        yellow: "#ea9d34",
        blue: "#56949f",
        magenta: "#907aa9",
        cyan: "#d7827e",
        white: "#cecacd",
    ),
)
