(
    name: "Rose Pine",
    foreground: "#e0def4",
    background: "#191724",
    cursor: "#524f67",
    dim_foreground: "#908caa",
    normal: (
        black: "#26233a",
        red: "#eb6f92",
        green: "#31748f",
        yellow: "#f6c177",
        blue: "#9ccfd8",
        magenta: "#c4a7e7",
        cyan: "#ebbcba",
        white: "#e0def4",
    ),
    bright: (
        black: "#6e6a86",
        red: "#eb6f92",
        green: "#31748f",
        yellow: "#f6c177",
        blue: "#9ccfd8",
        magenta: "#c4a7e7",
        cyan: "#ebbcba",
        white: "#e0def4",
    ),
    dim: (
        black: "#1f1d2e",
        red: "#b4637a",
        green: "#286983",
        yellow: "#ea9d34",
        blue: "#56949f",
        magenta: "#907aa9",
        cyan: "#d7827e",
        white: "#cecacd",
    ),
)
