(
    name: "Rxvt Dark",
    foreground: "#FFFFFF",
    background: "#000000",
    cursor: "#FFFFFF",
    bright_foreground: "#FAEBD7",
    dim_foreground: "#DDDDDD",
    normal: (
        black: "#000000",
        red: "#CD0000",
        green: "#00CD00",
        yellow: "#CDCD00",
        blue: "#0000CD",
        magenta: "#CD00CD",
        cyan: "#00CDCD",
        white: "#FAEBD7",
    ),
    bright: (
        black: "#404040",
        red: "#FF0000",
        green: "#00FF00",
        yellow: "#FFFF00",
        blue: "#0000FF",
        magenta: "#FF00FF",
        cyan: "#00FFFF",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#000000",
        red: "#872B22",
        green: "#549E4E",
        yellow: "#AAAB34",
        blue: "#0F2353",
        magenta: "#972596",
        cyan: "#31A7A6",
        white: "#E3C7A1",
    ),
)