(
    name: "Seashells",
    foreground: "#fee4ce",
    cursor: "#fee4ce",
    bright_foreground: "#fee4ce",
    dim_foreground: "#ae885d",
    normal: (
        black: "#17384c",
        red: "#d15123",
        green: "#027c9b",
        yellow: "#fca02f",
        blue: "#1e4950",
        magenta: "#68d4f1",
        cyan: "#50a3b5",
        white: "#deb88d",
    ),
    bright: (
        black: "#434b53",
        red: "#d48678",
        green: "#628d98",
        yellow: "#fdd39d",
        blue: "#1bbcdd",
        magenta: "#bbe3ee",
        cyan: "#87acb4",
        white: "#fee4ce",
    ),
    dim: (
        black: "#060e14",
        red: "#160904",
        green: "#001419",
        yellow: "#190e00",
        blue: "#071112",
        magenta: "#021317",
        cyan: "#0a0f10",
        white: "#140d06",
    ),
)
