(
    name: "Selenized Light",
    foreground: "#53676D",
    background: "#FBF3DB",
    cursor: "#ECE3CC",
    dim_foreground: "#333333",
    normal: (
        black: "#ECE3CC",
        red: "#D2212D",
        green: "#489100",
        yellow: "#AD8900",
        blue: "#0072D4",
        magenta: "#CA4898",
        cyan: "#009C8F",
        white: "#909995",
    ),
    bright: (
        black: "#D5CDB6",
        red: "#CC1729",
        green: "#428B00",
        yellow: "#A78300",
        blue: "#006DCE",
        magenta: "#C44392",
        cyan: "#00978A",
        white: "#3A4D53",
    ),
    dim: (
        black: "#B5AC95",
        red: "#722423",
        green: "#335520",
        yellow: "#6E5917",
        blue: "#124276",
        magenta: "#75365B",
        cyan: "#1A6159",
        white: "#636363",
    ),
)