(
    name: "Selenized Black",
    foreground: "#B9B9B9",
    background: "#181818",
    cursor: "#777777",
    dim_foreground: "#848484",
    normal: (
        black: "#252525",
        red: "#ED4A46",
        green: "#70B433",
        yellow: "#DBB32D",
        blue: "#368AEB",
        magenta: "#EB6EB7",
        cyan: "#3FC5B7",
        white: "#777777",
    ),
    bright: (
        black: "#3B3B3B",
        red: "#FF5E56",
        green: "#83C746",
        yellow: "#EFC541",
        blue: "#4F9CFE",
        magenta: "#FF81CA",
        cyan: "#56D8C9",
        white: "#DEDEDE",
    ),
    dim: (
        black: "#000000",
        red: "#923833",
        green: "#527736",
        yellow: "#988038",
        blue: "#285892",
        magenta: "#A2497D",
        cyan: "#3E877F",
        white: "#464646",
    ),
)