(
    name: "Selenized White",
    foreground: "#474747",
    background: "#FFFFFF",
    cursor: "#EBEBEB",
    dim_foreground: "#181818",
    normal: (
        black: "#EBEBEB",
        red: "#D6000C",
        green: "#1D9700",
        yellow: "#C49700",
        blue: "#0064E4",
        magenta: "#DD0F9D",
        cyan: "#00AD9C",
        white: "#878787",
    ),
    bright: (
        black: "#CDCDCD",
        red: "#BF0000",
        green: "#008400",
        yellow: "#AF8500",
        blue: "#0054CF",
        magenta: "#C7008B",
        cyan: "#009A8A",
        white: "#282828",
    ),
    dim: (
        black: "#B3B3B3",
        red: "#71221B",
        green: "#2D5727",
        yellow: "#82661D",
        blue: "#153B75",
        magenta: "#841D5F",
        cyan: "#207166",
        white: "#555555",
    ),
)