(
    name: "Selenized Dark",
    foreground: "#ADBCBC",
    background: "#103C48",
    cursor: "#72898F",
    dim_foreground: "#838383",
    normal: (
        black: "#184956",
        red: "#FA5750",
        green: "#75B938",
        yellow: "#DBB32D",
        blue: "#4695F7",
        magenta: "#F275BE",
        cyan: "#41C7B9",
        white: "#72898F",
    ),
    bright: (
        black: "#2D5B69",
        red: "#FF665C",
        green: "#84C747",
        yellow: "#EBC13D",
        blue: "#58A3FF",
        magenta: "#FF84CD",
        cyan: "#53D6C7",
        white: "#CAD8D9",
    ),
    dim: (
        black: "#061519",
        red: "#A63A35",
        green: "#567C39",
        yellow: "#988038",
        blue: "#2B62A6",
        magenta: "#AF4885",
        cyan: "#3F8981",
        white: "#525252",
    ),
)