(
    name: "Solarized Light",
    foreground: "#657B83",
    background: "#FDF6E3",
    cursor: "#657B83",
    bright_foreground: "#B58900",
    dim_foreground: "#454545",
    normal: (
        black: "#073642",
        red: "#DC322F",
        green: "#859900",
        yellow: "#B58900",
        blue: "#268BD2",
        magenta: "#D33682",
        cyan: "#2AA198",
        white: "#EEE8D5",
    ),
    bright: (
        black: "#002B36",
        red: "#CB4B16",
        green: "#586E75",
        yellow: "#657B83",
        blue: "#839496",
        magenta: "#6C71C4",
        cyan: "#93A1A1",
        white: "#FDF6E3",
    ),
    dim: (
        black: "#000000",
        red: "#7D2C26",
        green: "#56621A",
        yellow: "#745918",
        blue: "#23577E",
        magenta: "#792E4E",
        cyan: "#296661",
        white: "#B7B09C",
    ),
)