(
    name: "Tango Light",
    foreground: "#2E3436",
    background: "#EEEEEC",
    cursor: "#2E3436",
    bright_foreground: "#555753",
    dim_foreground: "#010101",
    normal: (
        black: "#2E3436",
        red: "#CC0000",
        green: "#4E9A06",
        yellow: "#C4A000",
        blue: "#3465A4",
        magenta: "#75507B",
        cyan: "#06989A",
        white: "#D3D7CF",
    ),
    bright: (
        black: "#555753",
        red: "#EF2929",
        green: "#8AE234",
        yellow: "#FCE94F",
        blue: "#729FCF",
        magenta: "#AD7FA8",
        cyan: "#34E2E2",
        white: "#EEEEEC",
    ),
    dim: (
        black: "#010101",
        red: "#681F18",
        green: "#395D24",
        yellow: "#846E1F",
        blue: "#213550",
        magenta: "#362C37",
        cyan: "#195E5F",
        white: "#9F9F9F",
    ),
)