(
    name: "XTerm Light",
    foreground: "#000000",
    background: "#FFFFFF",
    cursor: "#000000",
    bright_foreground: "#7F7F7F",
    dim_foreground: "#000000",
    normal: (
        black: "#000000",
        red: "#CD0000",
        green: "#00CD00",
        yellow: "#CDCD00",
        blue: "#0000EE",
        magenta: "#CD00CD",
        cyan: "#00CDCD",
        white: "#E5E5E5",
    ),
    bright: (
        black: "#7F7F7F",
        red: "#FF0000",
        green: "#00FF00",
        yellow: "#FFFF00",
        blue: "#5C5CFF",
        magenta: "#FF00FF",
        cyan: "#00FFFF",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#000000",
        red: "#691F18",
        green: "#468742",
        yellow: "#94952C",
        blue: "#0B1D47",
        magenta: "#7A1A7A",
        cyan: "#288F8F",
        white: "#AEAEAE",
    ),
)