(
    name: "XTerm Dark",
    foreground: "#FFFFFF",
    background: "#000000",
    cursor: "#FFFFFF",
    bright_foreground: "#E5E5E5",
    dim_foreground: "#DDDDDD",
    normal: (
        black: "#000000",
        red: "#CD0000",
        green: "#00CD00",
        yellow: "#CDCD00",
        blue: "#0000EE",
        magenta: "#CD00CD",
        cyan: "#00CDCD",
        white: "#E5E5E5",
    ),
    bright: (
        black: "#7F7F7F",
        red: "#FF0000",
        green: "#00FF00",
        yellow: "#FFFF00",
        blue: "#5C5CFF",
        magenta: "#FF00FF",
        cyan: "#00FFFF",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#000000",
        red: "#872B22",
        green: "#549E4E",
        yellow: "#AAAB34",
        blue: "#152E69",
        magenta: "#972596",
        cyan: "#31A7A6",
        white: "#C3C3C3",
    ),
)