[package]
name = "cosmic-term"
version = "0.1.0"
edition = "2021"
rust-version = "1.71"

[build-dependencies]
vergen = { version = "8", features = ["git", "gitcl"] }

[dependencies]
alacritty_terminal = "0.20"
env_logger = "0.10"
hex_color = { version = "3", features = ["serde"] }
indexmap = "2"
lazy_static = "1"
lexical-sort = "0.3.1"
log = "0.4"
palette = { version = "0.7", features = ["serde"] }
ron = "0.8"
serde = { version = "1", features = ["serde_derive"] }
shlex = "1"
tokio = { version = "1", features = ["sync"] }
# Internationalization
i18n-embed = { version = "0.13", features = ["fluent-system", "desktop-requester"] }
i18n-embed-fl = "0.6"
rust-embed = "6"
paste = "1.0"

[dependencies.cosmic-files]
git = "https://github.com/pop-os/cosmic-files"
default-features = false

[dependencies.cosmic-text]
git = "https://github.com/pop-os/cosmic-text.git"
features = ["shape-run-cache"]

[dependencies.libcosmic]
git = "https://github.com/pop-os/libcosmic.git"
default-features = false
features = ["multi-window", "tokio", "winit"]

[dependencies.smol_str]
version = "0.2.1"
features = ["serde"]

[features]
default = ["wgpu"]
wgpu = ["libcosmic/wgpu", "cosmic-files/wgpu"]

[patch.crates-io]
# https://github.com/rust-lang/libc/pull/3512
libc = { git = "https://gitlab.redox-os.org/redox-os/liblibc.git", branch = "redox_0.2.151" }

[profile.release-with-debug]
inherits = "release"
debug = true

[target.'cfg(unix)'.dependencies]
fork = "0.1"
