#TODO: more build-out, desktop actions, translations?
[Desktop Entry]
Name=COSMIC Terminal
Name[ar]=طرفية COSMIC
Name[zh_CN]=COSMIC 终端
Name[pl]=Terminal COSMIC
Name[pt_BR]=Terminal
Name[hu]=COSMIC Terminál
Name[pt]=Terminal
Name[sk]=Terminál COSMIC
Name[es]=Terminal COSMIC
Comment=Terminal emulator for the COSMIC desktop
Comment[ar]=محاكي طرفي لسطح مكتب COSMIC
Comment[sk]=Emulátor terminálu pre pracovné prostredie COSMIC
Comment[hu]=Terminálemulátor a COSMIC asztali környezethez
Exec=cosmic-term
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicTerm
Categories=COSMIC;System;TerminalEmulator;
Keywords=Command;Shell;Terminal;CLI;
Keywords[ar]=cli;طرفية;أوامر;صدفة;
Keywords[pl]=Cli;WierszPoleceń;Powłoka;Terminal;
Keywords[pt_BR]=Comando;Shell;Terminal;
Keywords[hu]=parancssor;terminál;
Keywords[pt]=Comando;Shell;Terminal;Console;
Keywords[sk]=Príkaz;Shell;Terminál;Konzola;
Keywords[es]=Comando;Shell;Terminal;Consola;
