Source: cosmic-term
Section: admin
Priority: optional
Maintainer: Karan <karanluciano11@gmail.com>
Build-Depends:
    debhelper-compat (=13),
    git,
    just (>= 1.13.0),
    pkg-config,
    rust-all,
    libxkbcommon-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/lkaranl/cosmic-mac-term

Package: cosmic-term
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: x-terminal-emulator
Description: COSMIC Terminal
