Source: cosmic-term
Section: admin
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
    debhelper-compat (=13),
    git,
    just (>= 1.13.0),
    pkg-config,
    rust-all,
    libxkbcommon-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/cosmic-term

Package: cosmic-term
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: x-terminal-emulator
Description: COSMIC Terminal
